body{
    background-color: rgb(223, 236, 232);
    font-size: 18px;
    color: rgb(41, 38, 38);
}

.container{
    display: grid;
    width: 100vw;
    grid-template-columns: 100vw;
    grid-template-rows: 170px 900px 350px;
    margin-left: 0;
    margin-right: 0;
    z-index: 0;
    grid-template-areas: 
    "hd"
    "main"
    "ft";
}
.header{
    grid-area: hd;
    z-index: 10;
}

.author{
    grid-area: main;
    margin-left: 0;
    margin-right: 0;
    z-index: 1;
}
.sharing-s{
    grid-area: ft;
    align-self: end;
    bottom: 0;
}
/*NAV*/
.navbar{
    display: flex;
    flex-direction: column;
    background-color: #3b3333;
    color: white;
    margin: 0;
}
.nav-top{
    display: block;
    height: 100px;
    color: white;  
    text-align: center;
}


.nav-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 15px;
    margin: 0px;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;   
}

.nav-list a {
    font-size: 18px;
    text-decoration: none;
    font-family: inherit;
    text-transform: inherit;
    justify-content: inherit;
    color: inherit;
    padding: 15px;
}
.nav-list a:hover{
    cursor: pointer;
    color: rgb(255, 136, 0);
}
.sharing-s{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    padding-bottom: 20px;
    background-color: rgb(48, 47, 47);
    color: white;
}
.sharing-s a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
.sharing-s a:hover{
    color: rgb(255, 145, 0);
}
.refer-link{
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}
.refer-link ul{
    list-style: none;
    width: 50%;
    margin-bottom: 10px;
    line-height: 30px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.med-link{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
}
.med-link i{
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}
.med-link i:hover{
    background-color: white;
}
.fa-facebook:hover{
    color: rgb(63, 63, 190);
}
.fa-instagram:hover{ 
    color: #bc1888;   
}
.fa-twitter:hover{
    color: rgb(104, 104, 230);
}
.fa-youtube:hover{
    color: rgb(223, 18, 46);
}
.fa-google-plus-g:hover{
    color: rgb(190, 72, 63);
}
.fa-snapchat-ghost:hover{
    color: rgb(190, 188, 63);
}
.rights{
    text-align: center;
}
.rights p{
    font-size: 14px;
    letter-spacing: 1px;
}
.rights p::first-letter, .rights p a{
    text-transform: capitalize;
}